<h1><i class="fa fa-home"></i>&nbsp;Home</h1>

<div class="row">
	<div class="col-sm-6">
		<div class="well">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi a eligendi nihil odio quibusdam, omnis aliquid ea, alias voluptas id doloremque saepe, delectus dolorem quam ipsum totam impedit itaque laborum?</div>
	</div>
	<div class="col-sm-6">
		<div class="well">Maiores, a officia, pariatur quas repellat tenetur, dolorum voluptatem optio, nesciunt ducimus consequatur atque autem aliquid omnis incidunt dolores aut non fugit! Temporibus modi voluptates perspiciatis error beatae eos suscipit.</div>
	</div>
</div>