<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title>CustomerApp</title>
		<!--uncache(rename:false)-->
		<link href="style/screen.css" rel="stylesheet"/>
		<!--enduncache-->
	</head>
	<body ng-cloak>
		<div ng-controller="shellController as shell">
			<snap-drawer>
				<nav class="side-navigation">
					<ul>
						<li ng-repeat="menuItem in shell.menuItems">
							<a href="#{{::menuItem.url}}" title="{{::menuItem.label}}" nf-active-menu-item>{{::menuItem.label}}</a>
						</li>
						
					</ul>
				</nav>
			</snap-drawer>
			<snap-content>
			<div class="container-fluid">
				<div class="pull-left">
					<button class="btn btn-default navbar-btn" snap-toggle="left"><i class="fa fa-list"></i></button>
				</div>
				<div class="pull-right">
					Welkom {{shell.authenticatedModel.firstName}} {{shell.authenticatedModel.lastName}}
					<button class="btn btn-warning navbar-btn" ng-click="shell.logout()"><i class="fa fa-sign-out"></i>&nbsp;Logout</button>
				</div>
			</div>
			<div class="container-fluid view" ng-view></div>
			</snap-content>
		</div>
		<nf-spinner></nf-spinner>
		<!--uncache(rename:false)-->
		<script src="scripts.js" type="text/javascript"></script>
		<!--enduncache-->
	</body>
</html>